@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d6e7f7;
}

main {
  display: flex;
  justify-content: center;
  padding: 2rem;
  margin-left: 5%;
}

table {
  width: 80%;
  border-collapse: collapse;
  text-align: center;
  margin: 0 auto;
}

th,
td {
  padding: 1rem;
}

th h1 {
  color: #333;
}

.purpleSquareImg {
  border-radius: 1.8rem;
}

#contactUs-img-container {
  padding-left: 10%;
}

h2 {
  font-family: "Marcellus", serif;
  color: #333;
  margin-bottom: 0.5rem;
}

p {
  color: #666;
  line-height: 1.5;
}

#active {
  background-color: #caaacd;
}

footer {
  background-color: #d6e7f7;
}
