body {
  background-color: #fcf3dd;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  color: #3d2c00;
}

#textContainer {
  width: 50%;
}

#textContainer h1 {
  color: #cb962e;
  font-size: 4rem;
}

.container {
  align-items: center;
  padding-bottom: 10rem;
}

.logoContainer {
  align-items: center;
  padding-left: 10%;
}

.logo {
  width: 40rem;
  height: 30rem;
}

.btnContainer {
  background-color: #cb962e;
  display: flex;
  border-radius: 5rem;
  height: 5rem;
  margin-bottom: 2rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: #ffffff;
}
