nav ul:not([data-type]) {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  align-items: center;
  justify-content: end;
}

nav ul img:not([data-type]) {
  height: 175px;
}

nav li a:not([data-type]) {
  display: block;
  color: #262353;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 0.5rem;
}

nav li:first-child:not([data-type]) {
  margin-inline-end: auto;
}

#active {
  background-color: black;
  color: white;
}
.btn {
  text-decoration: none;
  padding: 1rem;
  color: black;
}

nav .overviewMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .overviewMenu img {
  width: 1.1rem;
  height: 1.1rem;
  transition: transform 0.2s ease;
}

nav .overviewMenu:hover img {
  transform: rotate(180deg);
}

nav .submenu {
  opacity: 0;
  background-color: #353b3f;
  display: list-item;
  position: absolute;
  top: 12%;
  list-style-type: none;
  transition: all 0.3s ease;
  padding: 1rem;
  border-radius: 1rem;
}
nav .overviewMenu:hover .submenu {
  opacity: 1;
  pointer-events: all;
}
nav .submenu li a {
  color: white;
  text-decoration: none;
}
